*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
}

body{
    background-color: #3598DC;
}

.slideImage{
    display: none;
    
}
.current-Image ,.slideImage{
    width: 90%;
    height: 600px;
    background-color: #ffffff;
    margin: 0 auto;
    margin-top: 150px;
    overflow: hidden;
    display: block;
    
}
.number-text{
    position: absolute;
    color: #ffffff;
    margin: 14px;
    font-size: 20px;
}

.current-Image img ,.slideImage img{
    width: 100%;
    height: 100%;
    background-size: cover;
    
}

.caption-text{
    position: absolute;
    color: #ffffff;
    
}
.wrap .prev,.next {
    position: absolute;
    font-weight: bold;
    color : #3598DC;
    background-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    line-height: 50px;
    border: none;
}
.wrap .prev:hover,.next:hover{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 1);
    color: #ffffff;
    border-radius: 50%;
    line-height: 50px;
}

.prev{
    top: 45%;
    left: 1%;
}
.next{
    top: 45%;
    right: 1%;
}

.slide-Dot{
    position: relative;
    top: 25px;
}
.slide-Dot button{
    margin: 0 10px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: black;
    opacity: 0.3;
}
.slide-Dot button:hover ,.active{
    background-color: black;
    opacity: 1;
    
}